<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.9.0">


    <name>pgFeature Tester</name>

    <description>
        Application to test Phone Gap Features
    </description>

    <author href="http://pawprint.net" email="scott@pawprint.net">
        Scott Baker
    </author>

    <icon src="icon.png" />
    
    <gap:splash src="splash_xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="splash_hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash_mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash_ldpi.png" gap:platform="android" gap:density="ldpi" />

    <gap:platform name="android" />

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <gap:plugin name="com.phonegap.plugins.barcodescanner" />

</widget>